.clr-footer {
    background: #002538;
    color: #ffffff;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
}

.clr-footer a:link, .clr-footer a:visited {
    color: #ffffff;
}


img.logo-branding {
    width: 50px;
    height: 50px;
    margin: auto 0px;
    filter: contrast(0%) brightness(200%);
    margin-right: 24px;
}

@media (max-width: 576px) {
    .nav-link {
        display: none !important;
    }
}

.nav-link.disabled {
    cursor: not-allowed;
    color: #565656;

}

.indicator {
    font-size: 20vw;
    text-align: center;
    line-height: 20vw;
    color: #FF8400;
    text-align: center;
    font-family: 'Roboto mono', monospace
}


.noselect {
    user-select: none;
}